.info{
    min-height: 100vh;
    @extend %flex;
    &__heading{
        padding: 82px 0 0 0;
        @include font($h1-text-size,900);
    }
    &__info{
        padding: 40px 0;
        @include font();
    }
    &__pic{
        width: 100%;
        min-height: 500px;
        background: url("../assets/main.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 900px){
    .info{
        &__pic{
            background-size: contain;  
        }
    }
}

@media (max-width: 375px){
    .info{
        &__heading{
            padding: 139px 0 0 0; 
        }
    }
}